[submodule "vendor/uniswap-v3-core"]
	path = vendor/uniswap-v3-core
	url = https://github.com/Uniswap/uniswap-v3-core.git
[submodule "vendor/uniswap-v3-periphery"]
	path = vendor/uniswap-v3-periphery
	url = https://github.com/Uniswap/uniswap-v3-periphery.git
